body {
    background: #080713; 
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
    
   

}
header {
    display: inline-flex ;
    width: 100%;
}
#name{
    /* border: 1px solid greenyellow; */
    width: 33%;
    margin-left: 10px;
    font-size: 20px;
}
#menu {
    width:33%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    
    

    
}



nav {
    
    /* border: 1px solid white; */
    width: 33%;
    text-align: right;
    margin-top: 35px;
}
li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    
}
#image {
    text-align: center;
    margin-top:100px ;
    
    
    
}
span {
    color: blue;
}
.habidades {
    display: inline-flex;
    width: 100%;
    text-align: center;
    padding: 100px 0px;
    font-size: 2em;
}
#soft {
    border: 10px solid blue;
    width: 50%;
    
    
}
#hard {
    border: 10px solid blue;
    width: 50%;
}
h2 {
    color: blue;
    margin-top: 500px;
    font-size: 55px;
}
.project {
    margin-top:400px;
    padding-bottom: 500px;
}