@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  :root {
    --color-1: #4bf8ea;
    --color-2: #3891b1;
    --color-3: #11272B;
    --color-4: #0A1929;
  }

  body {
    background-color: var(--color-4);
    color: var(--color-1)
  }

  .full-screen-container {
    height: 100vh;
  }